			body,
			header,
			nav,
			div,
			ul,
			li,
			a,
			img {
			    margin: 0;
			    font-family: 'Inter', sans-serif;
			    box-sizing: border-box;
			}

			ul {
			    list-style: none;
			    padding: 0;
			}

			a {
			    text-decoration: none;
			}

			.container {
			    width: min(1300px, 90vw);
			    margin: 0 auto;
			}

			header {
			    background-color: #8C52FF;
			}

			header nav {
			    display: flex;
			    justify-content: space-between;
			    align-items: center;
			    position: relative;
			}

			header nav .logo-a img {
			    height: 50px;
			}

			header nav .links-principais {
			    display: flex;
			    gap: 65px;
			    margin: 0 auto;
			}

			header nav .links-principais li a {
			    color: #fff;
			    font-size: 14px;
			    font-weight: 900;
			}

			header nav .links-principais li a:hover {
			    opacity: 0.7;
			    text-decoration: none;
			}

            header nav button.dropdown-toggle,
            header nav button.dropdown-toggle:hover,
            header nav button.dropdown-toggle:active {
                border: none;
                background-color: transparent;
            }

            header nav button.dropdown-toggle::after {
                display: none;
            }

			header nav .dropdown-menu {
			    flex-direction: column;
			    gap: 19px;
			    background-color: #8C52FF;
			    padding: 16px;
			    border: none;
			    border-radius: 0px;
			    width: max-content;
			    z-index: 10;
                background-color: transparent;
			}
            
			header nav .dropdown-menu.show {
                display: flex;
			}

			header nav .dropdown-menu li a {
			    color: #fff;
			    font-size: 18px;
			    font-weight: 900;
			}

			header nav .dropdown-menu li a:hover {
			    opacity: 0.7;
			    text-decoration: none;
			}

			.mobile {
			    display: none;
			}

			@media (max-width: 992px) {
			    header nav .links-principais {
			        gap: 20px;
			    }

			    .mobile {
			        display: block;
			    }

			    .desktop {
			        display: none;
			    }
			}
